
  .slider {
      width: 50%;
      margin: 100px auto;
  }

  .slick-slide {
    margin: 0px 0px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev {
    left: 25px;
    z-index: 999;
  }

  .slick-next {
    right: 25px;
    z-index: 999;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }

  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }

  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }

  .dot-class {
    margin-top: 2rem;
    text-align: center;
  }

  .dot-class li{
    display: inline-block;
    list-style-type: none;
    margin-right: 1rem;
  }
